<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
      <span class="text-muted fw-light"></span> Employees List
    </h4>
    <div class="row">
      <form class="d-flex mb-3">
        <style>
          .input-group-merge {
            width: 30%;
            height: 30%;
          }
        </style>
        <div class="input-group input-group-merge">
          <span class="input-group-text" id="basic-addon-search31">
            <i class="bx bx-search"></i>
          </span>
          <input
            type="text"
            class="form-control"
            placeholder="Search by employee name"
            aria-label="Search..."
            aria-describedby="basic-addon-search31"
            [(ngModel)]="searchName"
            name="searchName"
            (input)="onSearch()"
          />
        </div>
      </form>
      <div class="col-md-6 col-lg-4 mb-3" *ngFor="let employee of filteredEmployees">
        <div class="card h-100">
          <img
            class="card-img-top"
            [src]="employee.employeeImageUrl"
            alt="Employee Image"
          />
          <div class="card-body">
            <h5 class="card-title">
              {{ employee.employeeFirstName }} {{ employee.employeeLastName }}
            </h5>
            <ul class="list-group">
              <li class="list-group-item" style="text-align: left">
                <strong>Registration Number:</strong> {{ employee.matricule
                }}<br />
                <strong>Department:</strong> {{ employee.department }}<br />
                <strong>Email:</strong> {{ employee.email }}<br />
                <strong>Region:</strong> {{ employee.region }}<br />
                <strong>Government:</strong> {{ employee.gouvernement }}
              </li>
              <!-- Add other employee details here -->
            </ul>
            <div class="mt-3">
                <button class="btn btn-outline-primary" (click)="showProfile(employee)">Show Profile</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  