<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light"></span>Add New User
      </h4>
      <div class="row">
        <div class="col-xxl">
          <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
              <h5 class="mb-0">User Form</h5>
            </div>
            <div class="card-body">
              <form (ngSubmit)="addEmployee()">
                
                <div class="row mb-3">
                  <label class="col-sm-1 col-form-label" for="login">Login</label>
                  <div class="col-sm-5">
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="user.login"
                      name="login"
                      id="login"
                      required
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-1 col-form-label" for="email">Email</label>
                  <div class="col-sm-5">
                    <input
                      type="email"
                      class="form-control"
                      [(ngModel)]="user.email"
                      name="email"
                      id="email"
                      required
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-1 col-form-label" for="password">Password</label>
                  <div class="col-sm-5">
                    <input
                      type="password"
                      class="form-control"
                      [(ngModel)]="user.password"
                      name="password"
                      id="password"
                      required
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-1"></div>
                  <div class="col-sm-5">
                    <button type="submit" class="btn btn-primary">Save</button>
                  </div>
                </div>
              </form>
              <div *ngIf="successMessage" class="alert alert-success" role="alert">
                {{ successMessage }}
              </div>
              <div *ngIf="errorMessage" class="alert alert-warning" role="alert">
                {{ errorMessage }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  