/* Adjust the width and padding of the card */
.card {
    max-width: 420px; /* Adjust as needed */
    margin: auto;
  }
  
  .card-body {
    padding: 20px; /* Adjust as needed */
  }
  
  /* Adjust the font size of the heading and paragraph */
  .card-body h4 {
    font-size: 1.5rem; /* Adjust as needed */
  }
  
  .card-body p {
    font-size: 1.7rem; /* Adjust as needed */
  }
  
  /* Adjust the width of the form inputs */
  .form-control {
    font-size: 0.875rem; /* Adjust as needed */
    padding: 0.5rem; /* Adjust as needed */
  }
  
  .input-group-text {
    font-size: 0.875rem; /* Adjust as needed */
  }
  
  /* Adjust the button size */
  .btn-primary {
    font-size: 0.875rem; /* Adjust as needed */
    padding: 0.5rem; /* Adjust as needed */
  }
  